@media (max-width: 1200px){
    .container{
        width: 90%;
    }
    .advantages{
        &__item{
            width: 33%;
        }
        &__subheader{
            margin-top: 10px;
            font-size: 15px;
        }
        &__descr{
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__logo{
            width: 150px;
            img{
                width: 100%;
            }
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 14px;
            }
        }
        &__phone{
            font-size: 14px;
        }
        
    }
    .button{
        width: 120px;
        height: 25px;
        font-size: 10px;
    }
    .button_main{
        width: 200px;
        height: 40px;
        font-size: 12px;
        margin-top: 47px;
    }
    .promo{
        padding: 21px 0;
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 18px;
        }
        &__link{
            font-size: 12px;
        }
    }  
}

@media(max-width:575px){
    .header{
        &__official{
            display: none;
        }
    }
    .promo{
        &__header{
            text-align: center;
        }
        &__subheader{
            text-align: center;
        }
        &__icons{
            width: 100%;
        }
        &__icon{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: 12px;
        }
    }
    .title{
        font-size: 18px;
    }
    .advantages{
        padding: 30px 0 25px 0;
        &__wrapper{
            margin-top: 10px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 100%;
        }
        &__icon{
            margin-top: 25px;
        }
        &__descr{
            display: block;
        }
    }
}