@media (max-width: 1200px){
    .container{
        width: 90%;
    }
    .advantages{
        &__item{
            width: 33%;
        }
        &__subheader{
            margin-top: 10px;
            font-size: 15px;
        }
        &__descr{
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .feedback{
        &__img{
            margin-right: 20px;
        }
        &__descr{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    .header{
        &__logo{
            width: 150px;
            img{
                width: 100%;
            }
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 14px;
            }
        }
        &__phone{
            font-size: 14px;
        }
        
    }
    .button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        &_main{
        width: 200px;
        height: 40px;
        font-size: 12px;
        margin-top: 47px;
        }
        &_submit{
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
    }
    .promo{
        padding: 21px 0;
        &__header{
            font-size: 30px;
        }
        &__subheader{
            font-size: 18px;
        }
        &__link{
            font-size: 12px;
        }
    }
    .carousel{
        img{
            display: block;
            width: 100%;
        }
        width: 100%;
        padding: 30px 0;
    }
    .catalog{
        &__tabs{
            flex-direction: column;
        }
        &__tab{
            margin-top: 10px;
        }
        &__content{
            margin-top: 20px;
        }
        &-item{
            width: 100%;
        }
    }
    .button_mini{
        height: 50px;
        font-size: 18px;
    }

    .feedback{
        &__img{
            margin-right: 0;
        }
        &__item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__descr{
            width: 100%;
        }
    }
    .footer{
        &__info{
            width: 100%;
            padding: 50px 20px;
        }
    }
    .modal{
        position: absolute;
        width: 100vw;
        top: auto;
        left: auto;
        transform: translate(0%, 0%);
        bottom: 0px;
        padding: 20px;
        &__close{
            position: absolute;
            top: -40px;
            right: 20px;
            font-size: 41px;
            line-height: 21px;
            color: $main-color;
            cursor: pointer;
        }
    }
    .feed-form{
        width: 100%;
    }
}

@media(max-width:575px){
    .header{
        &__official{
            display: none;
        }
    }
    .promo{
        &__header{
            text-align: center;
        }
        &__subheader{
            text-align: center;
        }
        &__icons{
            width: 100%;
        }
        &__icon{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-size: 12px;
        }
    }
    .title{
        font-size: 18px;
    }
    .advantages{
        padding: 30px 0 25px 0;
        &__wrapper{
            margin-top: 10px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 100%;
        }
        &__icon{
            margin-top: 25px;
        }
        &__descr{
            display: block;
        }
    }
}