.advantages{
    background-color: #F6F6F6;
    padding: 70px 0 65px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item{
        max-width: 270px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subheader{
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr{
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        color: #0D0D0D;
        text-align: center;
        a{
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated{
            animation: heardbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}