.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: 0.5s all;
    &:hover{
        box-shadow: 2px 2px 15px $main-color;
    }
    &_main{
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
        margin-top: 67px;
    }
    &_submit{
        width: 100%;
        height: 58px;
        font-size: 16px;
    }
    &_mini{
        width: 135px;
        height: 45px;
        font-size: 14px;
    }
}