.footer{
    height: 630px;
    position: relative;
    &__info{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
        width: 460px;
        height: 270px;
        padding: 50px 68px 60px 68px;
    }
    &__addres{
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone{
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover{
            color:#fff;
        }
    }
    &__social-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
        margin: 0 15px;
        transition: 0.5s all;
        text-align: center;
        &:hover{
            background-color: #fff;
            box-shadow: 3px 3px 20px #fff;
            color:#000;
            text-decoration: none;
            span{
                color: #000;
                font-weight: bold;
            }
        }
        span{
            font-size: 20px;
            text-align: center;
            color:#fff;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__map{
        width: 100%;
        height: 630px;
        border: 0;
    }
}

